@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
  font-display: swap;
}

/****************************************************
 ******************   VARIABLES   *******************
 ****************************************************/

:root {
  /* Colors */
  --clr-purple-100: #f8eeff;
  --clr-purple-600: #8b6990;
  --clr-purple-950: #301534;
  --clr-violet-600: #ad28eb;
  --clr-white: #ffffff;

  /* Font */
  --ff-primary: "Work Sans", sans-serif;

  /* Font Sizes */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-32: 2rem;
  --fs-56: 3.5rem;

  /* Font Weights */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Line Heights */
  --lh-120: 1.2;
  --lh-150: 1.5;

  /* Spacing */
  --sp-8: 0.5rem;
  --sp-16: 1rem;
  --sp-24: 1.5rem;
  --sp-32: 2rem;
  --sp-40: 2.5rem;

  /* Shadow */
  --shadow: 0 2rem 3.5rem rgba(80, 0, 118, 0.1);
}

/****************************************************
 *******************   RESET   **********************
 ****************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-inline: none;
}

body {
  min-height: 100dvh;
  font-family: var(--ff-primary);
  font-size: clamp(var(--fs-14), 2.8vw, var(--fs-16));
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  background-color: var(--clr-purple-100);
  color: var(--clr-purple-950);
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
